In [4]:
# Q1
# ans(i)
n= 'this is example of string data type'
print(type(n)) 
# ans(ii)
b=[1,2,3,'hello',654,1+3j,False ]
print(type(b))
# ans(iii)
a=234.321
print(type(a))
# ans(iv)
d=(213,432,'banana','road', 23+67j)
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [5]:
# Q2
# ans(i) 
var1=''
print(type (var1))
# ans(ii)
var2='[DS,ML,Python]'
print(type(var2))
# ans(iii)
var3= ['DS','ML','Python']
print(type(var3))
#ans(iv)
var4=1.
print (type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [8]:
# Q3
# given 4 operator are arithmetic operators
# ans(1)  '/' is division operator
q=25/5
print(q)
# ans(ii) '%' is modulus operator
w=25%4
print(w)
# ans(iii) '**' is Exponentiation operator
e= 25**2 # here the 25  is base and 2 is power 
print(e)
# ans(iv) '//' is Floor division operator
r = 25//4
print(r)

5.0
1
625
6

In [9]:
#Q3
j = [1,4,65,'abc', 3+6j, 'may', (21,32,43), [53,'be','he'], 2.324, 543.9005]
for i in j:
    print (i)
    print (type(i))

1
<class 'int'>
4
<class 'int'>
65
<class 'int'>
abc
<class 'str'>
(3+6j)
<class 'complex'>
may
<class 'str'>
(21, 32, 43)
<class 'tuple'>
[53, 'be', 'he']
<class 'list'>
2.324
<class 'float'>
543.9005
<class 'float'>

In [2]:
#Q4
print ('Please enter the value of A.')
A = int(input())
B = print ('Please enter the value of B')
B = int(input())
print ('the value of A is', A) 
print ('the value of B is', B)
j=0
if A%B ==0:
    while A%B == 0:
        j = j+1
        A=A/B
    print ('the A is purely divisible by the B and it can be divided',j,'times')
else :
    print ('the A is not divisible by the B')

Please enter the value of A.

 1

Please enter the value of B

 2

the value of A is 1
the value of B is 2
the A is not divisible by the B

In [3]:
# Q5
l=[1,2,3,4,5,6,7,8,9,10,11,12,14,13,15,16,17,18,19,21,22,23,24,25,32,21,34,54]
for i in l:
    if i%3 == 0:
        print (i, 'is divided by 3')
    else :
        print (i, 'is not divided by 3')

1 is not divided by 3
2 is not divided by 3
3 is divided by 3
4 is not divided by 3
5 is not divided by 3
6 is divided by 3
7 is not divided by 3
8 is not divided by 3
9 is divided by 3
10 is not divided by 3
11 is not divided by 3
12 is divided by 3
14 is not divided by 3
13 is not divided by 3
15 is divided by 3
16 is not divided by 3
17 is not divided by 3
18 is divided by 3
19 is not divided by 3
21 is divided by 3
22 is not divided by 3
23 is not divided by 3
24 is divided by 3
25 is not divided by 3
32 is not divided by 3
21 is divided by 3
34 is not divided by 3
54 is divided by 3

In [13]:
#Q6
# Mutable data type can be change after creating. ie list
l=[1,2,3,4,5,6,7,8,9]
l[2]='abc'
print(l)
# immutable data type can't be change after creating. ie string, tuple.  
v=(1,2,3,5,'abc')
v[3]='zyx'

[1, 2, 'abc', 4, 5, 6, 7, 8, 9]

TypeError: 'tuple' object does not support item assignment